<div class="card owen-employee-card col-12 col-sm-6 col-md-6 col-lg-3 ml-auto" *ngIf="filter(employee)">
  <img class="card-img-top owen-employee-card-image" [src]="employee.profileImage" onError="src='./assets/images/employee-placeholder.jpg';" alt="{{employee.name}} image">
  <div class="card-body">
    <h4 class="card-title owen-employee-card-name">{{employee.name}}</h4>
    <h5 class="card-title owen-employee-card-role text-muted">{{employee.role}}</h5>
    <p class="card-text owen-employee-card-skills">
      <span *ngFor="let skill of employee.skills" class="badge badge-primary owen-employee-card-skill">{{skill}}</span>
    </p>
    <p class="card-text owen-employee-card-bio">
      <small class="text-muted">
        {{employee.bio | truncate : 80}}
      </small>
    </p>
  </div>
</div>
