.owen-app-container {
  header {
    text-align: center;
    margin-top: 1em;
    h1 {
      color: #555;
      font-family: monospace;
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}
